.side-component {
  width: 300px;
  border-right: 1px solid black;
  height: 80vh;
  background-color: blue;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.book-entries-container {
  overflow: scroll;
  height: 70vh;
}

.book-entry-thumbnail {
  width: 60px;
  height: 80px;
}

.book-entry {
  margin: auto;
  width: 280px;
  padding-left: 10px;
  padding-right: 10px;
  height: 120px;
}